x-common-deploy: &common-deploy
  restart_policy:
    condition: on-failure
    delay: 5s
    window: 120s
x-common-env: &common-env
  PGID: 1000
  PUID: 1000
  TZ: Europe/Paris

networks:
  public:
    external: true

services:
  nginx:
    deploy:
      !!merge <<: [*common-deploy]
      labels:
        # Allow traefik to process this container
        - "traefik.enable=true"
        - "traefik.swarm.network=public"
        - "traefik.http.routers.discord-invite.rule=Host(`discord.$DOMAIN_NAME`)"
        - "traefik.http.routers.discord-invite.entrypoints=https"
        - "traefik.http.services.discord-invite.loadbalancer.server.port=8080"
        - "traefik.http.routers.discord-invite.middlewares=auth-member"
    environment:
      !!merge <<: *common-env
    image: ghcr.io/netboot-infra/discord-server-invite:latest
    networks:
      - public
    pull_policy: always
    read_only: true
    user: "1000:1000"
    tmpfs:
      - /tmp:rw,uid=1000,gid=1000